body {
  font-family: "Playfair Display", serif;
  font-family: "Raleway", sans-serif;
  margin: 0 auto;
  background: var(--dark, #242b33);
}

section {
  background: var(--dark, #242b33);
}

/*--header + welcom section start--*/
.conteiner-welcome {
  background-image: url(recurses/header.jpg);
  width: 100%;
  height: 840px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.conteiner-header {
  padding: 30px 230px 30px 230px;
  display: flex;
  justify-content: space-between;
}

.menu {
  list-style: none;
  display: flex;
  gap: 40px;
}

.link-menu {
  color: #fff;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.7px;
  text-decoration: none;
}

.link-menu:hover {
  color: blueviolet;
}

.conteiner-welcome-open {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 200px;
  width: 556px;
  color: var(--accent, #d4c17f);
  text-align: center;
  font-family: Playfair Display;
  font-size: 48px;
}

.mouse {
  padding-top: 100px;
  width: 40px;
  height: 40px;
  padding-bottom: 160px;
}

.link_address-phone {
  display: flex;
  gap: 180px;
}

.address {
  padding-left: 15px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
}

.number {
  padding-left: 15px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
}

/*--header start welcome section end--*/

/*--body elements start--*/

.testimonials {
  background: var(--dark, #242b33);
  margin: 0 auto;
}

.conteiner_pros {
  position: relative;
}

.pros {
  margin: 0 auto;
  padding-top: 193px;
  align-items: center;
  display: flex;
  list-style: none;
  gap: 70px;
  justify-content: center;
  flex-wrap: wrap;
}

.plus {
  margin-top: 53px;
  width: 193px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 120px;
}

.kartinka {
  width: 80px;
  height: 80px;
}

p.roman_numeral {
  position: absolute;
  margin: 0 auto;
  color: #fff;
  opacity: 0.02;
  font-size: 400px;
  font-family: Playfair Display;
  font-weight: 700;
  top: 19%;
  right: 50px;
}

/*--body elements continuation--*/

.appartmens_flat {
  position: relative;
  background: var(--dark, #242b33);
}

h2 {
  margin-left: 200px;
  color: var(--accent, #d4c17f);
  font-size: 36px;
  font-weight: 700;
  font-family: Playfair Display;
  margin-bottom: 100px;
}

.roman_numeral-three {
  top: -57%;
  position: absolute;
  color: #fff;
  font-family: Playfair Display;
  font-size: 400px;
  font-weight: 700;
  opacity: 0.02;
}

.appartments-one {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.flat {
  width: 535px;
  height: 320px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.clarification {
  margin-top: -10%;
  margin-left: 30px;
  color: #fff;
  font-family: Raleway;
  font-size: 24px;
}

/*--body elements end--*/

/*--body elements-cta start--*/

.cta {
  height: 560px;
  background-image: url(recurses/Rectangle.jpg);
}

.conteiner_cta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
}

.quetion {
  margin-top: 180px;
  color: var(--accent, #d4c17f);
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
}

.lorem {
  width: 535px;
  height: 114px;
  color: #fff;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.form {
  margin-top: 245px;
  width: 540px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.form_img {
  width: 255px;
  height: 50px;
}

.form_nomber {
  width: 255px;
  height: 50px;
}

input {
  text-align: center;
  width: 255px;
  height: 50px;
  color: #fff;
  background-color: #bebebe;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  opacity: 0.6;
}

.warning {
  width: 255px;
  height: 28px;
  color: #e7e7e7;
  text-align: center;
  font-family: Raleway;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.area {
  width: 255px;
  height: 50px;
  background: var(--accent, #d4c17f);
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
}

/*--body elements-cta end--*/

/*--body elements-video start--*/

.video-play {
  position: relative;
}

.video-img {
  margin-left: 28%;
  margin-top: 150px;
  width: 719px;
  height: 650px;
  background: linear-gradient(
      0deg,
      rgba(36, 43, 51, 0.8) 0%,
      rgba(36, 43, 51, 0.8) 100%
    ),
    url(<path-to-image>), lightgray 50% / cover no-repeat;
  position: relative;
}

.play {
  position: absolute;
  padding-top: 430px;
  right: 680px;
}

.roman_numeral-four {
  margin-top: -600px;
  margin-left: 1100px;
  position: absolute;
  color: #fff;
  font-family: Playfair Display;
  font-size: 400px;
  font-weight: 700;
  opacity: 0.02;
}

/*--body elements-video end--*/

/*--body elements-map start--*/
.maps {
  margin: 230px;
}

h3 {
  color: var(--accent, #d4c17f);
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 100px;
}

.map {
  display: block;
  background: #626262;
  width: 1110px;
  height: 358px;
}

/*--body elements-map end--*/

/*--body elements-cta form start--*/
.cta-form h3 {
  margin-left: 230px;
}

.form-conteiner {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.form-two {
  margin-bottom: 180px;
}

/*--body elements-cta form end--*/

/*--footer start--*/
footer {
  height: 272px;
  background: #2d343c;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  top: 20px;
}

.link {
  color: #fff;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.7px;
  list-style: none;
  margin-bottom: 5px;
}
.info {
  list-style: none;
}
.link-info,
a {
  color: #fff;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.7px;
  text-decoration: none;
  margin-bottom: 5px;
}
.link-info,
a:hover {
  color: blueviolet;
}
.target {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
/*--footer end--*/

@media (max-width: 1517px) {
  html {
    width: 100%;
  }
  .menu {
    display: list-item;
  }
  h1 {
    width: 100%;
    font-size: 29px;
  }
  .link_address-phone {
    gap: 30px;
  }
  h2 {
    margin-left: 0;
  }
}

@media (max-width: 992px) {
  html {
    max-width: 110%;
    overflow: visible;
  }
  .conteiner-header {
    padding: 0;
  }
  .video-img {
    width: 581px;
    height: 454.033px;
    margin-top: 470px;
    margin-left: 30px;
  }
  .roman_numeral-four {
    margin-top: 0;
  }
  .maps {
    margin: 0;
  }
  .map {
    width: 500px;
  }
  .form-conteiner {
    flex-wrap: wrap;
  }
  footer {
    flex-wrap: wrap;
    height: 100%;
  }
}
